doctype html
html(lang="en")
head
  script(src="https://use.fontawesome.com/b14867c3b2.js")
  style.
    body {
      background: #fafafa
    }
  title= GreenCast
body
  #app
  if username
    script.
      window.username = '#{username}'
  script(type="text/javascript", src="./bundle.js")
  link(href="http://fonts.googleapis.com/icon?family=Amatic+SC" rel="stylesheet")
  link(href="http://fonts.googleapis.com/icon?family=Days+One" rel="stylesheet")
  link(href="http://fonts.googleapis.com/icon?family=Droid+Sans" rel="stylesheet")
